body {
  background-color: #E1E2E2;
  color: #4F5D75;
  font-family: Open Sans, Serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: Montserrat, Serif;
  color: #4F5D75;
}

a {
  color: #EF8354;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

table img {
  width: 100px;
}

.container {
  width: 500px;
  margin: auto;
}

.list-inline {
  padding-left: 0px;
}

.list-inline a:hover {
  color: #2D3142;
  text-decoration: none;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 25px;
}

#btn-orange {
  background-color: #EF8354;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

#btn-orange:hover {
  background-color: #2D3142;
}

.img-round {
  width: 150px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #E1E2E2;
}

td {
  padding: 5px;
}

td img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;

}
