body {
  background-color: #F3F3F3;
  color: #808080;
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: black;
  text-transform: lowercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -7px 7px #F4FF52;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.card {
  background-color: #FFFFFF;
  padding: 30px 30px 50px 30px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.1) 0 6px 18px;
  max-width: 500px;
  margin: 30px auto;
}

#links {
  text-align: center;
}

.list-inline {
  padding-left: 0px;
}

.list-inline a:hover {
  color: black;
  text-decoration: none;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 25px;
}

#btn-blue {
  background-color: #0000FF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10;
  display: inline-block;
  box-shadow: rgba(0,0,0,0.2) 0 6px 18px;
  transition: all 0.2s ease;
}

#btn-blue:hover {
  box-shadow: rgba(0,0,0,0.4) 0 6px 18px;
}
