body {
  background-color: #E6E6E6;
  color: #686868;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  line-height: 24px;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: black;
  line-height: 30px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: ;
  margin-bottom: 30px;
}

table img {
  width: 100px;
}

table {
  text-align: left;
}

.container {
  width: 1000px;
  margin: 30px auto;
}

.list-inline {
  padding-left: 0px;
}

.list-inline a:hover {
  color: black;
  text-decoration: none;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 25px;
}

#btn-blue {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10;
  display: inline-block;
  box-shadow:  rgba(0,0,0,0.2) 0 6px 18px;
  transition: box-shadow 0.2s;
}

#btn-blue:hover {
  box-shadow:  rgba(0,0,0,0.4) 0 6px 18px;
}

.img-round {
  width: 150px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #E6E6E6;
}

td {
  padding: 5px;
}

td img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;

}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: blue;
}

#page-content {
  margin-left: 100px;
}

#left {
  float: left;
  width: 35%;
}

#right {
  float: right;
  width: 60%;
}

.clear {
  clear: both;
  position: relative;
}

#links {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

#links ul {
  margin-bottom: 0;
}

.cell-align-top {
  vertical-align: top;
}

.cell-align-top h3 {
  margin-top: 0;
}

.underline-blue {
  color: blue;
}

em {
  background-color: yellow;
  font-style: normal;
  font-weight: 700;
}
